In [61]:
# pip install textstat

import pandas as pd
import textstat

In [62]:
sheet_name = "portfolio_dataset"
sheet_id = "13n1Dlr49vbJlkEa1kxAR0AGP_HL836o8gpVrU5W6e1M"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

df = pd.read_csv(url)
df.head(1)

,Caminho,File_Title,URL,Tema,Título,Cliente,Revisão,Palavra-chave,Tom de voz,Tipo,Observações,Conteúdo,Tamanho
0,/Finanças pessoais OK/OK [Mongeral Aegon][orça...,OK [Mongeral Aegon][orçamento familiar][Blogpo...,https://docs.google.com/document/d/1Bw1_KqVpqa...,Finanças pessoais,Orçamento familiar: saiba como elaborar de for...,Mongeral Aegon,True,orçamento familiar,Casual/Informativo,Blogpost,NaN,NaN,NaN

In [63]:
df.columns

Index(['Caminho', 'File_Title', 'URL', 'Tema', 'Título', 'Cliente', 'Revisão',
       'Palavra-chave', 'Tom de voz', 'Tipo', 'Observações', 'Conteúdo',
       'Tamanho'],
      dtype='object')

In [64]:
df = df[['URL','Tema','Título','Cliente','Revisão','Palavra-chave','Tom de voz','Tipo','Observações','Conteúdo','Tamanho']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   URL            57 non-null     object
 1   Tema           57 non-null     object
 2   Título         57 non-null     object
 3   Cliente        57 non-null     object
 4   Revisão        57 non-null     bool
 5   Palavra-chave  52 non-null     object
 6   Tom de voz     57 non-null     object
 7   Tipo           57 non-null     object
 8   Observações    4 non-null      object
 9   Conteúdo       0 non-null      float64
 10  Tamanho        0 non-null      float64
dtypes: bool(1), float64(2), object(8)
memory usage: 4.6+ KB

In [65]:
conteudo = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQfsLrzsNo0e4MhpqSD5yuk8Riv48lPkQubry2sWmQRbkZRmLplcBZIDpyhNnSWNMYQ9yrAByYNCl0g/pub?gid=1807969944&single=true&output=csv')

In [66]:
conteudo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   URL             55 non-null     object
 1   Conteúdo        55 non-null     object
 2   Flesch-Kincaid  55 non-null     object
dtypes: object(3)
memory usage: 1.4+ KB

In [67]:
conteudo['caracteres'] = [len(x) for x in conteudo['Conteúdo']]
conteudo.head()

,URL,Conteúdo,Flesch-Kincaid,caracteres
0,https://docs.google.com/document/d/1Bw1_KqVpqa...,Um bom controle financeiro contribui e muito p...,"43,5",7060
1,https://docs.google.com/document/d/1lAwSktYGk0...,Você provavelmente já ouviu falar que o cartão...,"44,1",6737
2,https://docs.google.com/document/d/1dYCIwregB_...,Comprar seu primeiro imóvel é um momento marca...,"34,8",6091
3,https://docs.google.com/document/d/1wFSpwegmR5...,"No início da vida adulta, é comum convivermos ...","26,8",6789
4,https://docs.google.com/document/d/1orn9CXIzpD...,O segundo dia da prova do Enem costuma ser apo...,"36,1",4136

In [68]:
conteudo['palavras'] = [len(x.split()) for x in conteudo['Conteúdo']]

In [69]:
conteudo.head()

,URL,Conteúdo,Flesch-Kincaid,caracteres,palavras
0,https://docs.google.com/document/d/1Bw1_KqVpqa...,Um bom controle financeiro contribui e muito p...,"43,5",7060,1229
1,https://docs.google.com/document/d/1lAwSktYGk0...,Você provavelmente já ouviu falar que o cartão...,"44,1",6737,1183
2,https://docs.google.com/document/d/1dYCIwregB_...,Comprar seu primeiro imóvel é um momento marca...,"34,8",6091,1019
3,https://docs.google.com/document/d/1wFSpwegmR5...,"No início da vida adulta, é comum convivermos ...","26,8",6789,1139
4,https://docs.google.com/document/d/1orn9CXIzpD...,O segundo dia da prova do Enem costuma ser apo...,"36,1",4136,692

In [72]:
conteudo['Flesch-Kincaid'] = conteudo['Flesch-Kincaid'].str.replace(',','.').astype('Float64')